#programacao
  - @presentations.each do |presentation|
    .atividade
      .cabecalho
        | #{presentation.kind} - #{presentation.title}
        span #{presentation.time}
      .dados
        | #{presentation.summary}
        .responsavel
          .foto
            img src='not-yet' alt='#{presentation.speaker.name}' title='#{presentation.title}'
          .descricao
            strong #{presentation.speaker.name}
            br
            | #{presentation.speaker.summary}
            br
            | Organização: #{presentation.speaker.organization}
          .site
            a href='#{presentation.speaker.twitter_link}' Twitter
            a href='#{presentation.speaker.github_link}' Github
            a href='#{presentation.speaker.site}' Site

