form.formtastic li {
  list-style-type: none;
  margin-bottom: 15px;
}

form.formtastic .inline-errors {
  color: red;
  display: inline;
}

form.formtastic label {
  width: 6em;
  float: left;
  text-align: right;
  padding-right: 12px;
}


form.formtastic .required abbr {
  border: none;
  color: red;
}

