<% content_for :additional_scripts do %>
  <%= javascript_include_tag 'map', 'http://maps.google.com/maps/api/js?sensor=false&language=pt-BR' %>
<% end %>

<h1>Localização do IFF (Antigo CEFET-Campos)</h1>

<div id='address_info'>
  Rua Dr. Siqueira, 273 - Parque Dom Bosco - Campos dos Goytacazes, RJ - CEP 28030-130<br/>
  Tel: (22) 2726-2800 - Fax: (22) 2733-3079
</div>

<div id="map_div" class="map_div"></div>

